#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.traveldiv{
    border: 1px solid blue
}
.traveldiv img{
    width: 100%
}
.moviediv{
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px 20px;
}
.moviediv i{
    float: right;
}
